/* general styles */
body{
    background-color: #3a3a3a;
    padding: 0;
    margin: 0;
    font-family: 'arial';
}

body, h1, h2{
    padding: 0;
    margin: 0;
}

.container{
    width: 500px;
    margin: 0 auto;
}

input:focus{
    outline: none;
}

/* header */
#header{
    height: 300px;
    background-image: url(../assets/bg.jpg);
    background-position-y: center;
    color: #fff;
    box-shadow: 0px 3px 10px -4px #000000;
    padding: 20px;
}

#header .titles h1{
    margin-top: 20px;
}

#header .titles h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: 5px;

}

/* input add new*/
#addnew .todo{
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    border: none;
    font-size: 23px;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -8px #000000;
    box-sizing: border-box;
}

/* tasks list */

#taskslist{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: -100px; 
    border-radius: 5px;
    box-shadow: 0px 0px 13px -5px #000000;
}

#donetaskslist{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: -100px; 
    border-radius: 5px;
    box-shadow: 0px 0px 13px -5px #000000;
}

#taskslist ul{
    padding: 0;
    list-style: none;
    position: relative;
}

#donetaskslist ul{
    padding: 0;
    list-style: none;
    position: relative;
}

#taskslist ul li{
    padding: 15px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}

#donetaskslist ul li{
    padding: 15px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}

#myUl li img{
    position: absolute;
    width: 20px;
    top: 13px;
    right: 15px;
}

#myUl li img:hover{
    cursor: pointer;
}

#myUl li .checkimg{
    position: absolute;
    width: 20px;
    top: 13px;
    right: 40px;
}

#myUl li .editImg{
    position: absolute;
    width: 20px;
    top: 13px;
    right: 65px;
}

#taskslist ul li:last-child{
    border-bottom: none;
}

#donetaskslist ul li:last-child{
    border-bottom: none;
}

#total{
    color: #c4c4c4;
    position: relative;
    top: -100px;
}

.modal {
    display: none; /* Hidden by default */
    margin: auto;
    position: fixed; /* Stay in place */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #a39d9d;
    opacity: 0.97;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    height: 30%;
}

.modal-usu{
    display: flex;
}

.edit-task{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    margin-top: 10px;
    margin: auto;
}

#modal-title{
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.edit-input{
    display: flex;
    float: left;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    border: none;
    font-size: 23px;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -8px #000000;
    box-sizing: border-box
}
  
  /* The Close Button */
.close {
    display: flex;
    /* align-items: flex-start; */
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover{
    color: red;
    text-decoration: none;
    cursor: pointer;
}
