@import url(reset.css);

@font-face {
    font-family: vazirNormal;
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff'), url('../fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: vazirBold;
    src: url('../fonts/vazir-bold.eot');
    src: url('../fonts/vazir-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir-bold.woff2') format('woff2'), url('../fonts/vazir-bold.woff') format('woff'), url('../fonts/vazir-bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

body{
    font-family: vazirNormal;
    direction: rtl;
}

/* HEADER */
#header{
    height: 600px;
    background-color: rgb(126, 187, 220);
}

#header #header-section{
    display: flex;
}

#header #header-section .right-text{
    align-self: center;
}

#header #header-section .image img{
    width: 450px;
    position: relative;
    top: 20px;
}

#header #header-section h2{
    font-family: vazirBold;
    font-size: 30px;
    line-height: 40px;
}

#header #header-section p{
    color: #3b3b3b;
    padding: 15px 0 15px 15px;
    line-height: 20px;
    text-align: justify;
}

/* CONTAINER */
.container{
    width: 1200px;
    margin: auto;
}
    