@import url(reset.css);

@font-face {
    font-family: vazirNormal;
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff'), url('../fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: vazirBold;
    src: url('../fonts/vazir-bold.eot');
    src: url('../fonts/vazir-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir-bold.woff2') format('woff2'), url('../fonts/vazir-bold.woff') format('woff'), url('../fonts/vazir-bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

body{
    font-family: vazirNormal;
    direction: rtl;
}

/* HEADER */
#header{
    height: 600px;
    background-color: rgba(253, 214, 102, 1);;
}

#header #header-section{
    display: flex;
}

#header #header-section .right-text{
    align-self: center;
}

#header #header-section .image img{
    width: 450px;
    position: relative;
    top: 20px;
}

#header #header-section h2{
    font-family: vazirBold;
    font-size: 30px;
    line-height: 40px;
}

#header #header-section p{
    color: #3b3b3b;
    padding: 15px 0 15px 15px;
    line-height: 20px;
    text-align: justify;
}

#header #header-section .right-text .btn {
    background-color: rgb(255, 114, 39, 1);
    color: #fff;
    border: none;
    font-family: vazirNormal;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

#header #header-section .right-text .btn:hover{
    opacity: 0.9;
    cursor: pointer;
}


/* CONTAINER */
.container{
    width: 1200px;
    margin: auto;
}

/* PRODUCTS */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
#products .product-item{
    flex-basis: 280px;
    border: 3px solid #e0e0e0;
    margin-top: 25px;
    border-radius: 5px;
}

#products .product-item .product-img img{
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

#products .product-item .product-title{
    font-family: vazirBold;
    height: 50px;
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
}

#products .product-item .product-instock{
    padding: 0 10px 10px 0;
    font-size: 13px;
}

#products .product-item .product-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-top: 1px solid #e0e0e0;
    font-size: 15px;
}

#products .product-item .product-data .product-addToCart svg :hover{
    cursor: pointer;
}

/* CART */
#cart{
    background-color: #d8d8d8;
    width: 320px;
    height: 400px;
    position: fixed;
    left: 20px;
    bottom: -10px;
    border-radius: 8px;
}

#cart #cart-header{
    background-color: #388e3c;
    color: #e0e0e0;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

#cart #cart-items{
    height: 300px;
    overflow-x: auto;
}

#cart #cart-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

#cart #cart-item .plus{
    background-color: green;
    color: #fff;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

#cart #cart-item .minus{
    background-color: red;
    color: #fff;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
}

#cart #cart-item #p-unit svg{
    font-size: 11px;
}

#cart #cart-item #p-unit svg:hover{
    cursor: pointer;
}
#cart #cart-item #p-name{
    height: 25px;
    border-radius: 3px;
}
#cart #cart-item #p-name:hover{
    cursor: pointer;
    background-color: #fa6060;
}

#cart .total{
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
}


/* FOOTER */
#footer{
    background-color: #3b3b3b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}
