/*  GENERALS */
*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
    font-family: 'Muli', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

h2{
    margin: 10px 0 20px;
    text-align: center;
}

/* CONTAINER STYLES */
#container{
    background-color: #0c5791;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 35px;
    padding: 10px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
}